@charset "UTF-8";

/*ROOT CSS VARIABLES*/
:root {
    --color-white: #ffffff;
    --color-light: #f0eff5;
    --color-gray-light: #86848c;
    --color-gray-dark: #56555e;
    --color-dark: #27282f;
    --color-primary: rgb(230, 110, 19);
    --color-success: rgb(34, 202, 75);
    --color-danger: rgb(255, 67, 54);
    --color-warning: rgb(234, 181, 7);
    --color-purple: rgb(160, 99, 245);

    --color-primary-light: rgb(230, 110, 19, 0.2);
    --color-success-light: rgb(34, 202, 75, 0.2);
    --color-danger-light: rgb(255, 67, 54, 0.2);
    --color-warning-light: rgb(234, 181, 7, 0.2);
    --color-purple-light: rgb(160, 99, 245, 0.2);

    --card-padding: 1.6rem;
    --padding-1: 1rem;
    --padding-2: 8px;

    --card-border-radius: 1.6rem;
    --border-radius-1: 1rem;
    --border-radius-2: 6px;
}

/*DARK THEME*/
.dark-theme {
    --color-white: #131316;
    --color-light: #23232a;
    --color-dark: #ddd;
    --color-gray-dark: #adacb5;
}

* {
    margin: 0;
    padding: 0;
    outline: 0;
    border: 0;
    appearance: none;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

html {
    font-size: 12px;
}

body {
    background: var(--color-light);
    font-family: poppins, sans-serif;
    min-height: 100vh;
    color: var(color --color-dark);
}

img {
    width: 100%;
}

h1 {
    font-size: 2.2rem;
    color: var(--color-dark);
}

h2 {
    font-size: 1.5rem;
    color: var(--color-dark);
}

h3 {
    font-size: 1.2rem;
    color: var(--color-dark);
}

h4 {
    font-size: 1rem;
    color: var(--color-dark);
}

h5 {
    font-size: 0.86rem;
    font-weight: 500;
    color: var(--color-dark);
}

h6 {
    font-size: 0.76rem;
    color: var(--color-dark);
}

p {
    font-size: 1.2rem;
    color: var(--color-gray-dark);
}

small {
    font-weight: 300;
    font-size: 0.77rem;
    color: var(--color-dark);
}

.text-muted {
    color: var(--color-gray-light);
}

.primary {
    color: var(--color-primary);
}

.danger {
    color: var(--color-danger);
}

.success {
    color: var(--color-success);
}

.purple {
    color: var(--color-purple);
}

.bg-primary {
    background: var(--color-primary);
    box-shadow: 0 0.8rem 0.8rem var(--color-primary-light);
}

.bg-danger {
    background: var(--color-danger);
    box-shadow: 0 0.8rem 0.8rem var(--color-danger-light);
}

.bg-success {
    background: var(--color-success);
    box-shadow: 0 0.8rem 0.8rem var(--color-success-light);
}

.bg-purple {
    background: var(--color-purple);
    box-shadow: 0 0.8rem 0.8rem var(--color-purple-light);
}

.bg-dark {
    background: #27282f;
    box-shadow: 0 0.8rem 0.8rem rgba(0, 0, 0, 0.2rem);
}

/*NAV BAR*/
nav {
    width: 100%;
    background: var(--color-white);
    padding: 1rem 0;
}

nav .container1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 96%;
    margin: 0 auto;
}

nav img.logo {
    width: 7rem;
}

nav .search-bar {
    background: var(--color-light);
    padding: var(--padding-2) var(--card-padding);
    width: 32vw;
    border-radius: var(--border-radius-2);
    display: flex;
    align-items: center;
    gap: 1rem;
    color: var(--color-gray-light);
    position: absolute;
    left: 15%;
}

nav .search-bar input[type="search"] {
    color: var(--color-dark);
    background: transparent;
    width: 100%;
}

nav .search-bar input[type="search"]::placeholder {
    color: var(--color-gray-dark);
}

nav .profile-area {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 4rem;
}

nav .profile-area .theme-btn {
    display: flex;
    background: var(--color-light);
    width: 5rem;
    height: 2rem;
    border-radius: var(--border-radius-2);
    cursor: pointer;
}

nav .profile-area .theme-btn span {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.3rem;
}

nav .profile-area .theme-btn .active {
    background: var(--color-dark);
    border-radius: var(--border-radius-2);
    color: var(--color-white);
}

nav .profile-area .profile {
    display: flex;
    gap: 1rem;
    align-items: center;
}

nav .profile-area .profile-photo {
    display: block;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    overflow: hidden;
}

nav .profile-area button {
    display: none;
}

/*ASIDE & SIDEBAR*/
main {
    display: grid;
    grid-template-columns: 16rem auto 30rem;
    gap: 2rem;
    width: 96%;
    margin: 1rem auto 4rem;
}

main aside {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 88vh;
}

/*Will be shown only on mobile and tablets*/
main aside button#close-btn {
    display: none;
}

main aside .sidebar a {
    display: flex;
    align-items: center;
    gap: 1.2rem;
    height: 4.2rem;
    color: var(--color-gray-light);
    position: relative;
}

main aside .sidebar a span {
    font-size: 1.7rem;
    margin-left: 3rem;
    transition: all 300ms ease;
}

main aside .sidebar a.active {
    background: var(--color-white);
    color: var(--color-primary);
}

main aside .sidebar a.active:before {
    content: '';
    width: 6px;
    height: 100%;
    position: absolute;
    background: var(--color-primary);
}

main aside .sidebar a:hover {
    color: var(--color-primary);
}

main aside .sidebar a:hover span {
    margin-left: 2rem;
}

main aside .sidebar h4 {
    font-weight: 600;
}


/*----------------------------------------------------------MIDDLE----------------------------------*/
main section.right .header {
    display: flex;
    align-items: center;
    gap: 1rem;
}

main section.right .cards {
    margin-top: 1rem;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1.5rem;
}

main section.right .cards .card {
    background: var(--color-light);
    padding: var(--card-padding);
    border-radius: var(--card-border-radius);
    color: var(--color-white);
    height: 16rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0 0rem 1rem var(--color-gray-dark);
    transition: all 300ms ease;
    min-width: 22rem;
}

main section.right .cards .card:nth-child(2) {
    background: var(--color-light);
    box-shadow: 0 0rem 0.5rem var(--color-gray-dark);
}

main section.right .cards .card:nth-child(3) {
    background: var(--color-light);
    box-shadow: 0 0rem 0.5rem var(--color-gray-dark);
}

main section.right .cards .card:hover {
    box-shadow: none;
}

main section.right .card .top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

main section.right .card .top .left {
    display: flex;
    gap: 0.5rem;
}

main section.right .card .top .left h2 {
    font-weight: 200;
    font-size: 1.4rem;
}

main section.right .card .top .left img {
    width: 2.3rem;
    height: 2.3rem;
    border: 1px solid var(--color-white);
    border-radius: var(--border-radius-2);
    padding: 0.4rem;
}

main section.right .card .top img.right {
    width: 3.5rem;
}

main section.right .card .middle {
    display: flex;
    justify-content: space-between;
}

main section.right .card .middle .chip {
    width: 3.5rem;
}

main section.right .card .bottom {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

main section.right .card .bottom .right {
    display: flex;
    gap: 2rem;
}

/*  - - - - - - - - Profile Part - - - - - - - - */


header:after,
nav:after,
footer:after,
.module-block:after,
.gallery:after,
.social:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}


* {
    /* Universal reset: */
    margin: 0;
    padding: 0;
}


img {
    border-radius: 100%;
    max-width: 100%;
    display: block;
}

a {
    color: #D24655;
    text-decoration: none;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

a:hover,
a:focus {
    /* when you declare a hover state, make sure you declare a focus state as well */
    color: var(--color-primary);
}

a img {
    border: none;
}

strong {
    color: var(--color-dark);
}

/*-------------------------------------------

ABOUT
-------------------------------------------*/

img.right {
    float: right;
    margin: 0 0 20px 20px;
    width: 13%;
}

img.right1 {
    border-radius: 3px;
    float: right;
    margin: 0 0 20px 20px;
    width: 9%;
}

img.links {
    float: left;
    list-style: none;
    width: 4%;
    margin: 0 5.3333% 20px 0;
}

.social li {
    float: left;
    list-style: none;
}


.social a {
    display: block;
    font-size: 12px;
    margin: 5px 2px;
    padding: 10px 10px 8px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
    border-right: 1px dashed rgba(0, 0, 0, .1);
}

.social li:last-child a {
    border: none;
}



/*-------------------------------------------

Posts
-------------------------------------------*/

.post {
    position: relative;
    margin-bottom: 50px;
    padding-left: 24%;
}

.post h3 {
    margin-bottom: 10px;
}

.post img {
    width: 20%;
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 0;
}

.date {
    display: block;
    margin-bottom: 10px;
}

/*-------------------------------------------

General
-------------------------------------------*/

.page-wrap {
    max-width: 960px;
    padding: 0 10px;
    margin: 0 auto;
    /* center the content by defining a width and using this margin value */
}

.module-block {
    background-color: var(--color-light);
    margin: 0 0 70px 0;
    padding: 40px;
    -webkit-box-shadow: inset 0px 0px 13px rgba(68, 68, 68, 0.1);
    -moz-box-shadow: inset 0px 0px 13px rgba(68, 68, 68, 0.1);
    box-shadow: inset 0px 0px 13px rgba(68, 68, 68, 0.1);
    border: 1px solid rgba(0, 0, 0, .1);
    box-shadow: 0 0rem 0.5rem var(--color-gray-light);
}

.module-block h2 {
    padding-bottom: 30px;
    margin-bottom: 30px;
    border-bottom: 1px dashed rgba(0, 0, 0, .3);
}


/* --------------------------------------- MEDIA QUERIES FOR TABLETS ----------------------------------------------*/
@media screen and (max-width: 1024px) {
    nav .search-bar {
        display: none;
    }

    nav .profile-area {
        gap: 2rem;
    }

    nav .profile-area button#menu-btn {
        display: inline;
        background: transparent;
        color: var(--color-dark);
    }

    main {
        grid-template-columns: 1fr;
    }

    main aside {
        position: fixed;
        top: 0;
        left: -100%;
        z-index: 3;
        background: var(--color-white);
        width: 22rem;
        height: 100vh;
        box-shadow: 2rem 0 2rem var(--color-primary-light);
        display: none;
        animation: showSidebar 500ms ease forwards;
    }

    @keyframes showSidebar {
        to {
            left: 0;
        }

    }

    main aside button#close-btn {
        display: inline-block;
        width: 3rem;
        height: 3rem;
        position: absolute;
        top: 1rem;
        right: 1rem;
        z-index: 4;
        background: transparent;
        color: var(--color-dark);
    }

    button:hover {
        cursor: pointer;
    }

    main aside .sidebar {
        margin-top: 4rem;
    }

    main section.middle .cards {
        grid-template-columns: 1fr 1fr;
    }

    main canvas {
        margin: 3rem 0 1rem;
    }

}

/* --------------------------------------- MEDIA QUERIES FOR MOBILE PHONES ----------------------------------------------*/
@media screen and(max-width:600px) {
    nav .profile-area {
        gap: 2.6rem;
    }

    nav .profile h5,
    nav .profile span {
        display: none;
    }

    main section.middle.cards {
        grid-template-columns: 1fr;
    }


}